#green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#red {
    -fx-background-color:
        linear-gradient(#ffd035, #ff2600),
        radial-gradient(center 50% -40%, radius 200%, #ee5236 45%, #ff2600 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#purple{
    -fx-background-color:
        linear-gradient(#ffd035, #b810eb),
        radial-gradient(center 50% -40%, radius 200%, #b213e2 45%, #c300ff 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
