#green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#red {
    -fx-background-color:
        linear-gradient(#ffd035, #ff2600),
        radial-gradient(center 50% -40%, radius 200%, #ee5236 45%, #ff2600 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#special{
    -fx-background-color:#090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: Arial;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
}

#purple{
    -fx-background-color:
        linear-gradient(#ffd035, #b810eb),
        radial-gradient(center 50% -40%, radius 200%, #b213e2 45%, #c300ff 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}