#Login{
    -fx-font-size: 48px;
    -fx-font-family: "Arial Black";
    -fx-fill: #30f109;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#felhasznalo{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #fd0000;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}